body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.divone {
  width: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
}
.add-todo {
  text-align: center;
  color: #081a51;
}

.title,
.description {
  color: #081a51;
  margin-bottom: 10px;
}

.base-input {
  margin-bottom: 15px;
  background-color: rgba(8, 26, 81, 0.1);
  border: none;
  width: 400px;
  height: 20px;
  padding: 4px;
}

.description-input {
  height: 60px;
}
.btn {
  right: 2px;
  text-align: center;
  width: 20%;
  background-color: #081a51;
  color: #f3f3f3;
  border-radius: 8px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
