body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
}
.title {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

th {
  background-color: #081a51;
  color: white;
  padding: 10px 5px;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.table {
  width: 80%;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #f3f3f3;
}

.status {
  background-color: #017efa;
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  opacity: 80%;
}

td {
  padding: 10px;
}
.delete-btn {
  background-color: #f60202;
}
.update-btn {
  background-color: gray;
}
.btn {
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  color: white;
}
.add-btn {
  background-color: #081a51;
  display: flex;
  justify-content: left;
  border: none;
  text-decoration: none;
}

.button-container {
  width: 90%;
  display: flex;
  justify-content: right;
}

/* update my todo */
.container-update {
  display: none;
  justify-content: center;

  width: 100%;
}

.div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.divone {
  width: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
}
.add-todo {
  text-align: center;
  color: #081a51;
}

.title-update,
.description {
  color: #081a51;
  margin-bottom: 10px;
}

.base-input {
  margin-bottom: 15px;
  background-color: rgba(8, 26, 81, 0.1);
  border: none;
  width: 400px;
  height: 20px;
  padding: 4px;
}

.description-input {
  height: 60px;
}
.btn-update {
  right: 2px;
  text-align: center;
  width: 20%;
  background-color: #081a51;
  color: #f3f3f3;
  border-radius: 8px;
}

.btn-container-update {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

/* .update-status {
  padding: 12px;
  border: none;
  width: 400px;
  height: 20px;
  padding: 12px;
  margin-bottom: 15px;
  background-color: rgba(8, 26, 81, 0.1);
}
.update-status option {
  color: #081a51;
} */

/* .update-status option {
  border: none;
} */
